@import "themes/_variables";

.navbar {
  border-bottom: 3px solid darken($light, 5%);

  .navbar-brand {
    font-weight: 600;
    font-size: 28px;
    img {
      width: 45px;
      height: 45px;
    }
    .icon {
      color: $success;
    }
    span {
      color: $success;
    }
  }
  .links {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 750px;
    flex-wrap: wrap;
    .drop-item {
      width: 30%;
      font-weight: 600;
      font-size: 16px;
      color: $success;
      align-items: center;
      display: flex;
      justify-content: center;
      .icon {
        margin-right: 15px;
      }
    }
    .first {
      width: 15%;
    }
  }

  .navbar-nav {
    .dropdown-menu {
      position: absolute;
      margin-top: 10px !important;
      border: 3px solid darken($light, 5%);

      .dropdown-item {
        padding: 10px 20px;
        font-weight: 600;
        color: darken($secondary, 10%);

        .icon {
          min-width: 20px;
          color: $gray-400;
        }

        &:active {
          background: $light;
        }
      }
    }
  }
}
